<div class="popularproducts" #popularproducts>
    <div class="row">
      <div class="col-12">
        <div class="ambit-key">
          <div class="our-product-area top-pd featur-padd">
            <div class="area-title">
              <h2>Our products</h2>
            </div>
            <div class="row row-margin">
                <div class="col-3 col-md-3 col-xs-12 col-sm-6 col-padd">
                <div class="single-product">
                  <div class="product-label">
                    <div class="new"></div>
                  </div>
                  <div class="product-img">
                    <a href="#">
                      <img class="primary-image" src="assets/img/product/product-1.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-content">
                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                    <div class="rating">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="new-price">$222.00</span>
                    </div>
                  </div>
                  <div class="product-content2">
                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                    <div class="rating">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="new-price">$222.00</span>
                    </div>
                    <div class="button-container">
                      <a title="Add to Cart" href="#" class="button cart_button">
                        <span>Add to Cart</span>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
                <div class="col-3 col-md-3 col-xs-12 col-sm-6 col-padd">
                    <div class="single-product">
                        <div class="product-label">
                            <div class="new"></div>
                        </div>
                        <div class="product-img">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/product-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <div class="price-box">
                                <span class="new-price">$222.00</span>
                            </div>
                        </div>
                        <div class="product-content2">
                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <div class="price-box">
                                <span class="new-price">$222.00</span>
                            </div>
                            <div class="button-container">
                                <a title="Add to Cart" href="#" class="button cart_button">
                                    <span>Add to Cart</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-3 col-md-3 col-xs-12 col-sm-6 col-padd">
                    <div class="single-product">
                        <div class="product-label">
                            <div class="new"></div>
                        </div>
                        <div class="product-img">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/product-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <div class="price-box">
                                <span class="new-price">$222.00</span>
                            </div>
                        </div>
                        <div class="product-content2">
                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <div class="price-box">
                                <span class="new-price">$222.00</span>
                            </div>
                            <div class="button-container">
                                <a title="Add to Cart" href="#" class="button cart_button">
                                    <span>Add to Cart</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-3 col-md-3 col-xs-12 col-sm-6 col-padd">
                    <div class="single-product">
                        <div class="product-label">
                            <div class="new"></div>
                        </div>
                        <div class="product-img">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/product-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <div class="price-box">
                                <span class="new-price">$222.00</span>
                            </div>
                        </div>
                        <div class="product-content2">
                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <div class="price-box">
                                <span class="new-price">$222.00</span>
                            </div>
                            <div class="button-container">
                                <a title="Add to Cart" href="#" class="button cart_button">
                                    <span>Add to Cart</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
