<div class="footer-static-container">
  <div class="container">
    <div class="footer-static row pt30 pb30">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="footer-static-content">
          <a href="#" class="logo"><img alt="" src="assets/img/logo.png"></a>
          <div class="address"> 103 Elm Grove, Southsea, Hampshire, England, PO5 1LH</div>
          <div class="phone">(+44) 0123 4567 890 </div>
          <div class="mail">info@printoguro.com </div>
          <div class="web-links">
            <ul>
              <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
              <li><a href="#" class="ldin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="face"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-static-title">
          <h3>Supports</h3>
        </div>
        <div class="footer-static-content footer-service">
          <ul>
            <li class="first"><a href="#"><i class="fa fa-angle-double-right"></i>Track My Order </a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Returns</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Artworks Guide</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-static-content footer-service">
              <ul>
                  <li class="first"><a href="#"><i class="fa fa-angle-double-right"></i>Faqs</a></li>
                  <li><a href="#"><i class="fa fa-angle-double-right"></i> Legal Notice</a></li>
                  <li><a href="#"><i class="fa fa-angle-double-right"></i> qq</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>