<footer class="ma-footer-container">
  <div class="container">
    <div class="row">
      <div class="basak-footer">
        <div class="col-md-7 col-sm-12 col-xs-12">
          <nav>
            <ul class="links">
              <li class="first"><a title="Terms & Conditions" href="#">Terms & Conditions</a></li>
              <li><a title="Privacy and Cookie Policy" href="#">Privacy and Cookie Policy</a></li>
              <li class=" last"><a title="Environmental Policy" href="#">Environmental Policys</a></li>
            </ul>
          </nav>
          <address>Copyright &copy; 2017-All rights reserved. <a title="Printo guru" href="http://printoguru.com/">printoguru.com</a></address>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="payment">
            <ul>
              <li>
                <a href="#"><img alt="" src="assets/img/switch.jpg"></a>
              </li>
              <li>
                <a href="#"><img alt="" src="assets/img/american_express.jpg"></a>
              </li>
              <li>
                <a href="#"><img alt="" src="assets/img/paypal.jpg"></a>
              </li>
              <li>
                <a href="#"><img alt="" src="assets/img/discover.jpg"></a>
              </li>
              <li>
                <a href="#"><img alt="" src="assets/img/visa.jpg"></a>
              </li>
              <li>
                <a href="#"><img alt="" src="assets/img/maestro.jpg"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
