.banner-box-1 {
  background: url(../assets/img/banner/free_shipping.png) no-repeat left top;
}
.banner-box-2 {
  background: url(../assets/img/banner/money_back.png) no-repeat left top;
}
.banner-box-3 {
  background: url(../assets/img/banner/payment.png) no-repeat left top;
}